body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

iframe {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: none;
}

.btn {
	position: absolute;
	width: 20px;
	height: 20px;
	z-index: 100;
	opacity: 0.1;
	top: 10px;
	transition: opacity 0.4s ease;
}

.btn:hover {
	transition: opacity 0.4s ease;
	opacity: 1;
}

.resize-btn {
	right: 50px;
}

.resize-btn {
	cursor: move;
	-webkit-app-region: drag;
}


.scroll-btn {
	right: 80px;
}

.ontop-btn {
	right: auto;
	left: 10px;
}

.close-btn {
	opacity: 0.5;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

#form {
	text-align: center;
	padding: 200px;
}

#form input {
	width: 70%;
	outline: none;
	border: 1px solid #999;
	padding: 10px 5px;
	font-size: 22px;
	font-family: sans-serif;
}

#form p {
	margin: 0;
	margin-top: 15px;
	font-size: 15px;
	color: #999;
	font-family: sans-serif;
}